<template>
  <q-layout view="lHh Lpr lFf">
    <q-drawer v-model="leftDrawerOpen" show-if-above bordered content-class="bg-grey-1">
      <q-list>
        <EssentialLink v-for="link in essentialLinks" :key="link.title" v-bind="link" />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink";

export default {
  name: "MainLayout",

  components: {
    EssentialLink,
  },
  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: "Dashboard",
          route: "dashboard",
          caption: "quasar.dev",
          icon: "home",
        },
        {
          title: "Products",
          route: "products",
          caption: "quasar.dev",
          icon: "card_giftcard",
        },
        {
          title: "Categories",
          route: "categories",
          caption: "github.com/quasarframework",
          icon: "code",
        },

        {
          title: "Business",
          route: "business",
          caption: "forum.quasar.dev",
          icon: "record_voice_over",
          link: "https://forum.quasar.dev",
        },
        // {
        //   title: "Customers",
        //   route: "customers",
        //   caption: "@quasarframework",
        //   icon: "rss_feed",
        //   link: "https://twitter.quasar.dev",
        // },
        {
          title: "Orders",
          route: "orders",
          caption: "@QuasarFramework",
          icon: "public",
          link: "https://facebook.quasar.dev",
        },
        {
          title: "Vouchers",
          route: "promotions",
          caption: "Community Quasar projects",
          icon: "favorite",
          link: "https://awesome.quasar.dev",
        },
        {
          title: "Website",
          route: "home",
          caption: "Community Quasar projects",
          icon: "call_made",
          link: "https://awesome.quasar.dev",
        },
        {
          title: "Logout",
          icon: "exit_to_app",
        },
      ],
    };
  },

  beforeMount() {
    this.$store.dispatch("adminData/loadCategories");
    this.$store.dispatch("adminData/loadSizes");
    this.$store.dispatch("adminData/loadProducts");
    this.$store.dispatch("adminData/loadVouchers");
    this.$store.dispatch("adminData/loadAdminPreferences");
    this.$store.dispatch("adminData/loadAllUsersProducts");
  },
};
</script>
