<template>
  <div v-show="loaded" class="q-pa-md">
    <div class="column">
      <h4 class="text-h4 text-weight-medium">{{ termsPreferences.name }}</h4>
      <q-card style="max-height: 300px; overflow-Y: scroll;" flat bordered>
        <q-card-section v-html="termsPreferences.value" />
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "terms",
  watch: {
    $route(to, from) {
      this.name = this.$route.name;
    },
  },
  data() {
    return {
      name: "",
      loaded: true,
    };
  },
  beforeMount() {
    // this.$q.loading.show();

    this.name = this.$route.name;
  },

  // async mounted() {
  //   setTimeout(() => {
  //     this.loaded = true;
  //     this.$q.loading.hide();
  //   }, 2000);
  // },
  computed: {
    adminPreferences() {
      return this.$store.getters["adminData/getAdminPreferences"];
    },
    termsPreferences() {
      const x = this.adminPreferences.find(
        (preference) => preference.name == this.$route.name
      );
      if (x) return x;
      else return { name: "", value: "" };
    },
  },
};
</script>

<style lang="scss" scoped>
</style>