<template>
  <q-dialog v-model="openDialog">
    <q-card>
      <q-card-section class="top" align="left">
        <q-input
          outlined
          v-model="name"
          placeholder="Name"
          hint="Name"
          :dense="dense"
        />
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input
          outlined
          v-model="description"
          placeholder="Description"
          hint="Description"
          :dense="dense"
        />
      </q-card-section>

      <q-card-actions>
        <q-btn flat color="primary" icon="check" />
        <q-btn flat color="primary" icon="cancel" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: "add-panel",
  props: {
    openDialog: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      name: "",
      description: ""
    };
  }
};
</script>
