<template>
  <div class="q-px-lg q-pt-lg">
    <q-btn
      @click="openDialogCategory = true; newCategory.name='' "
      color="primary"
      label="categorie noua"
      icon="add"
    />
    <!-- <q-btn
      @click="openDialogSubCategory = true"
      color="primary"
      class="q-ml-lg"
      label="Add new subcategory"
      icon="add"
    />-->
    <h5 class="text-h5">Available categories</h5>

    <q-table
      grid
      :data="categories"
      :columns="columns"
      row-key="id"
      card-class="text-white"
      hide-header
    >
      <template v-slot:item="props">
        <div class="col-xs-12 col-sm-6 col-md-4 q-mb-md">
          <q-card class="my-card bg-grey-2">
            <q-card-section class="q-pt-none" align="right">
              <q-btn @click="deleteCategory(props.row)" flat color="primary" icon="cancel" />
            </q-card-section>
            <q-card-section>{{ props.row.name }}</q-card-section>
          </q-card>
        </div>
      </template>
    </q-table>

    <q-dialog v-model="openDialogCategory">
      <q-card style="width: 700px; max-width: 60vw;">
        <q-card-section>
          <p>Adauga numele categoriei</p>
          <q-input outlined v-model="newCategory.name" placeholder="Name" :rules="rules" dense />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn @click="addCategory" flat color="primary" icon="add_circle" />
          <q-btn @click="openDialogCategory = false" flat color="primary" icon="clear" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="openDialogSubCategory">
      <q-card class="my-card">
        <q-card-section>
          <q-select
            filled
            class="q-mb-md"
            v-model="newSubCategory.parentCategory"
            :options="categoriesOptions"
            label="Pick a category"
          />

          <q-input outlined v-model="newSubCategory.name" placeholder="Name" :rules="rules" dense />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn @click="addSubCategory" flat color="primary" icon="add_circle" />
          <q-btn @click="openDialogSubCategory = false" flat color="primary" icon="clear" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { LocalStorage } from "quasar";

export default {
  name: "categories",
  data() {
    return {
      openDialogCategory: false,
      openDialogSubCategory: false,
      isDeleteCategory: false,
      isDeleteSubCategory: false,
      selectedCategory: {},
      selectedSubCategory: {},
      newCategory: {
        name: "",
      },
      newSubCategory: {
        name: "",
        parentCategory: "",
      },
      rules: [(val) => !!val || "Campul nu poate fi gol"],

      columns: [
        {
          name: "name",
          field: "name",
          align: "center",
        },
      ],
    };
  },
  beforeMount() {
    this.$store.dispatch("adminData/loadCategories");
    if (!LocalStorage.getItem("loggedIn")) {
      this.$router.push("/auth");
    } else if (!LocalStorage.getItem("user").isAdmin) this.$router.push("/");
  },
  mounted() {
    // console.log(this.categories);
  },

  computed: {
    categories() {
      return this.$store.getters["adminData/getCategories"];
    },
    categoriesOptions() {
      return this.categories.map((item) => item.name);
    },
  },
  methods: {
    addCategory() {
      //request la server
      const foundCategory = this.categories.find(
        (item) => item.name == this.newCategory.name
      );
      if (this.newCategory.name && !foundCategory) {
        this.$axios
          .post("/api/categories", this.newCategory)
          .then((response) => {
            this.openDialogCategory = false;
            this.$q.notify({
              message: response.data.message,
              color: "positive",
            });
            this.newCategory.name = "";
            this.$store.dispatch("adminData/loadCategories");
          })
          .catch((error) => {
            this.$q.notify({
              color: "negative",

              message: error.response.data.message,
              icon: "report_problem",
            });
          });
      } else if (!this.newCategory.name || foundCategory) {
        this.$q.notify({
          color: "negative",
          message:
            "Trebuie sa introduci un nume si categoria trebuie sa fie diferita",
          icon: "report_problem",
        });
      }
    },
    addSubCategory() {
      //request la server
      this.openDialogSubCategory = false;
      this.$q.notify({
        message: `You have successfully added ${this.newSubCategory.name}`,
        color: "green",
      });
      this.newSubCategory = {
        name: "",
        parentCategory: "",
      };
    },
    deleteCategory(item) {
      //request la server
      this.selectedCategory = item;
      this.$q
        .dialog({
          message: `Are you sure you want to delete ${this.selectedCategory.name}?`,
          color: "red-9",
          cancel: true,
          persistent: true,
        })
        .onOk(() => {
          this.$axios
            .delete("/api/categories", { data: { id: item.id } })
            .then((response) => {
              this.openDialogCategory = false;
              this.$q.notify({
                message: response.data.message,
                color: "positive",
              });
              this.$store.dispatch("adminData/loadCategories");
            })
            .catch((error) => {
              this.$q.notify({
                color: "negative",

                message: error.response.data.message,
                icon: "report_problem",
              });
            });
        })
        .onCancel(() => {});
    },
    deleteSubCategory(item) {
      this.selectedSubCategory = item;
      this.$q
        .dialog({
          message: `Are you sure you want to delete ${this.selectedSubCategory.name}?`,
          color: "red-9",
          cancel: true,
          persistent: true,
        })
        .onOk(() => {
          this.$q.notify({
            message: ` ${this.selectedSubCategory.name} was deleted`,
            color: "green",
          });
        })
        .onCancel(() => {});
    },
  },
};
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  max-width: 250px;
  font-size: 1.5rem;
  border: 1px solid #b89eb2;
  h5 {
    margin: 0;
  }
}
</style>
