<template>
  <div class="q-pa-md padding-lg">
    <div class="col-xs-12 col-sm-8 col-8">
      <p class="text-subtitle1 text-weight-medium">Comenzile tale</p>
      <q-table
        class="my-sticky-header-table"
        :data="currentUserProducts"
        :columns="columns"
        row-key="id"
        :filter="filter"
        separator="vertical"
        :pagination.sync="pagination"
        :rows-per-page-options="[0]"
        flat
        virtual-scroll
      >
        <template v-slot:top-right>
          <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
        <template v-slot:header="props">
          <q-tr :props="props">
            <q-th auto-width />
            <q-th v-for="col in props.cols" :key="col.name" :props="props">{{ col.label }}</q-th>
          </q-tr>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td auto-width>
              <q-btn
                size="sm"
                color="accent"
                @click="viewProductDetails(props.row)"
                round
                dense
                icon="add"
              />
            </q-td>
            <q-td v-for="col in props.cols" :key="col.name" :props="props">{{ col.value }}</q-td>
          </q-tr>
        </template>
      </q-table>
    </div>

    <q-dialog v-model="openDialogDetails">
      <q-card style="width: 700px; max-width: 60vw; ">
        <q-card-section class="row justify-between q-pb-none">
          <p class="text-primary text-subtitle1 text-weight-medium">Total comanda</p>
          <p class="text-weight-medium">{{selectedProduct.total}} RON</p>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <div
            v-for="(product, index) in selectedProduct.items"
            :key="product.id"
            class="q-px-lg q-my-lg"
          >
            <div class="row q-px-sm justify-between">
              <div class="row">
                <p>{{index+1}}&nbsp;</p>
                <q-separator vertical inset />
                <p>
                  <span class="text-primary">&nbsp;{{product.quantity}}&nbsp;x</span>
                  &nbsp;&nbsp;&nbsp;{{product.detail.name}}, {{product.preference.color}}, {{product.preference.size}}
                </p>
              </div>

              <p
                class="text-subtitle1 text-weight-medium"
              >{{product.quantity * product.detail.price}} RON</p>
            </div>
          </div>
        </q-card-section>
        <q-card-section v-if="selectedProduct.voucher">
          <p>
            <span class="text-primary">Discount:</span> &nbsp;
            <span
              class="text-weight-medium"
            >{{selectedProduct.voucher.value}} {{selectedProduct.voucher.type=='percent'?'%':'RON'}}</span>
          </p>
        </q-card-section>
        <q-card-section>
          <p>
            <span class="text-primary">Status plata:</span> &nbsp;
            <span
              class="text-weight-medium"
            >{{selectedProduct.isPaid?'A fost platita':'Nu a fost platita'}}</span>
          </p>
          <div class="column">
            <q-select
              outlined
              v-model="status"
              :options="options"
              label="Seteaza statusul comenzii"
            />

            <q-btn @click="updatePurchase()" class="q-mt-md" color="primary" label="Save" />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { LocalStorage } from "quasar";

export default {
  name: "orders",
  data() {
    return {
      filter: "",
      status: "",
      options: [
        "PAID",
        "RECEIVED",
        "SHIPPED",
        "FINALIZED",
        "CANCELED",
        "DELIVERY FAILED",
        "RETURNED",
        "DENIED",
      ],

      openDialogDetails: false,
      pagination: {
        rowsPerPage: 100,
      },
      selectedProduct: {},
      columns: [
        {
          name: "user",
          label: "Client",
          field: (row) => row.user,
          format: (val) => `${val.firstName} ${val.lastName}`,
          align: "center",
          sortable: true,
        },
        {
          name: "status",
          label: "Status",
          field: "status",
          align: "center",
          sortable: true,
        },
        {
          name: "createdAt",
          label: "Data comenzii",
          sortable: true,

          align: "center",
          field: (row) => row.createdAt,
          format: (val) => `${val.substring(0, 10)}`,
        },
        {
          name: "deliveryDate",
          sortable: true,

          label: "Data livrare",
          field: "deliveryDate",
          align: "center",
        },
        {
          name: "total",
          sortable: true,

          label: "Valoare totala",

          align: "center",
          field: (row) => row.total,
          format: (val) => `${val} RON`,
        },
      ],
    };
  },

  computed: {
    currentUser() {
      return LocalStorage.getItem("user");
    },
    currentUserProducts() {
      return this.$store.getters["adminData/getAllUsersProducts"];
    },
  },
  methods: {
    updatePurchase() {
      this.$axios
        .put("/api/purchases", {
          id: this.selectedProduct.id,
          status: this.status,
        })
        .then((response) => {
          this.$q.notify({
            message: response.data.message,
            color: "positive",
          });
          this.$store.dispatch("adminData/loadAllUsersProducts");
          this.openDialogDetails = false;
        })
        .catch((error) => {
          this.$q.notify({
            color: "negative",

            message: error.response.data.message,
            icon: "report_problem",
          });
        });
    },
    viewProductDetails(product) {
      this.openDialogDetails = true;
      this.selectedProduct = { ...product };
      this.status = this.selectedProduct.status;
    },
  },
};
</script>

<style lang="scss" scoped>
.order-subtitle,
.info-subtitle,
.product-price,
.order-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.padding-lg {
  padding-left: 5%;
  padding-right: 5%;
}
.my-card {
  width: 100%;
  max-width: 250px;
}
</style>