<template>
  <div class="footer q-px-md q-py-md">
    <p>About Us</p>
    <p>My brand</p>
    <p>Icon</p>
  </div>
</template>

<script>
export default {
  name: "footer-page"
};
</script>

<style lang="scss" scoped>
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #db8a8a;
}
</style>
